h1 {
  text-align: center;
  position: flex;
}



body {
  background: lightcyan;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #00B7FF;
}

/* css outline idea came from donut homework model */
.brands {
  text-align: center;
	display: inline-block;
	width:85%;
	background: white;
    border: 1px solid #B9D6C2;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 170px;
    border-radius: 50px;
    padding: 2em;
    position: relative;
    min-width: 340px;
    max-width:800px;
}
.companyinfo {
  text-align: center;
  display: inline-block;
	width:85%;
	background: white;
    border: 1px solid #B9D6C2;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 170px;
    border-radius: 50px;
    padding: 2em;
    position: relative;
    min-width: 340px;
    max-width:800px;
}
.new-brand {
  text-align: center;
}
.edit-brand {
  text-align: center;
}
.camera-list {
  text-align: center;
  display: inline-block;
	width:85%;
	background: white;
    border: 1px solid #B9D6C2;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 170px;
    border-radius: 50px;
    padding: 2em;
    position: relative;
    min-width: 340px;
    max-width:800px;
}

.camera-container-show {
  text-align: center;
  color: red;
  display: inline-block;
	width:75%;
	background: white;
    border: 1px solid #B9D6C2;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 180px;
    border-radius: 50px;
    padding: 2em;
    position: relative;
    min-width: 340px;
    max-width:800px;
}

.camera-edit {
  text-align: center;
}
.create-camera {
  text-align: center;
}
.users {
  text-align: center;
  display: inline-block;
	width:85%;
	background: white;
    border: 1px solid #B9D6C2;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 170px;
    border-radius: 50px;
    padding: 2em;
    position: relative;
    min-width: 340px;
    max-width:800px;
}
.user-info {
  text-align: center;
  display: inline-block;
	width:85%;
	background: white;
    border: 1px solid #B9D6C2;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 170px;
    border-radius: 50px;
    padding: 2em;
    position: relative;
    min-width: 340px;
    max-width:800px;
}
.new-user {
  text-align: center;
}
.edit-user{
  text-align: center;
}
/* .picture {
  float: left;
  width: 300px;
  height: 300px;
} */
.img {
  float: left;
  width: 300px;
  height: 300px;
}