<div>
    <h1>{{brand.name}}</h1>
    <div>Country: {{brand.country}}</div>

    <div>
        <a href="/brands">Back to Brands</a>
    </div>
    <div>
        <a href="/brands/{{brand._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/brands/{{brand._id}}/delete">Delete</a>
    </div>
</div>